@font-face {
  font-family: 'RobotoRegular';
  src: url('../fonts/Roboto/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'RobotoBold';
  src: url('../fonts/Roboto/Roboto-Bold.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'RobotoRegular';
}

header {
  background: right / contain no-repeat url('../img/ilustracion_people.png'),
    right / contain no-repeat url('../img/ilustracion1.png');
  height: 40.625rem;
  margin-bottom: 12.5rem;
}

.header__top__left {
  padding: 3.125rem 5rem;
}

.header__top__left h2 {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: 'RobotoBold';
}

.header__top__left p {
  font-size: 0.75rem;
}

.header__bottom__left {
  width: 28.125rem;
  margin-left: 9.375rem;
  margin-top: 16.875rem;
}

.header__bottom__left h1 {
  font-size: 3.375rem;
  font-weight: 600;
  font-family: 'RobotoBold';
  line-height: 4.0625rem;
}

.header__bottom__left p {
  line-height: 1.5625rem;
  font-weight: 300;
  font-size: 1.125rem;
  margin-bottom: 6.25rem;
}

header a {
  color: #ff3571;
  text-decoration: none;
  font-size: 0.875rem;
  font-family: 'RobotoBold';
  font-weight: 700;
  margin-left: 9.375rem;
}

.gallery__container {
  background: center / cover no-repeat url('../img/images.jpg');
  height: 75vh;
  margin-bottom: 18.75rem;
}

.main__content {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  width: 90%;
}

.info__container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.info__container h2 {
  font-size: 2.375rem;
  flex-basis: 13.75rem;
}

.info__container p {
  font-size: 1.25rem;
  flex-basis: 42.5rem;
  line-height: 2.25rem;
  margin-bottom: 6.25rem;
}

.headline__info {
  text-align: center;
  width: 50rem;
  text-align: left;
  padding-left: 10%;
  margin-bottom: 150px;
}

.headline__info h2 {
  font-family: 'RobototBold';
  font-size: 2.375rem;
  font-weight: 600;
}

.content__mid {
  display: flex;
  align-items: start;
  justify-content: space-around;
  width: 100%;
  margin: 0 auto;
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;
}

.content__mid__headline {
  font-size: 1.25rem;
  font-family: 'RobotoBold';
  font-weight: 700;
}

.content__mid__text {
  font-size: 0.875rem;
  line-height: 1.75rem;
  padding-left: 3.5625rem;
}

.content__mid article {
  width: 27%;
}

.container__mid__icons1 {
  background: center/ cover no-repeat url('../img/title02.svg');
  width: 2rem;
  height: 2rem;
  display: inline-block;
  margin-right: 1.25rem;
}

.container__mid__icons2 {
  background: center/ cover no-repeat url('../img/title04.svg');
  width: 32px;
  height: 2rem;
  display: inline-block;
  margin-right: 1.25rem;
}

.container__mid__icons3 {
  background: center/ cover no-repeat url('../img/title01.svg');
  width: 2rem;
  height: 2rem;
  display: inline-block;
  margin-right: 1.25rem;
}

.container__mid__icons4 {
  background: center/ cover no-repeat url('../img/title03.svg');
  width: 2rem;
  height: 2rem;
  display: inline-block;
  margin-right: 1.25rem;
}

.problem__headline {
  text-align: center;
  margin: 150px auto;

  width: 470px;
}

.problem__headline h2 {
  font-size: 1.75rem;
  font-family: 'RobotoBold';
  font-weight: 600;
  margin-bottom: 30px;
}

.problem__headline p {
  line-height: 20px;
}

.image__left1 {
  background: left / contain no-repeat url('../img/step01.png');
  height: 410px;
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}

.image__left__text {
  width: 670px;
  margin-left: auto;
  margin-right: 90px;
}

.image__left__text h4 {
  color: #dddddd;
  font-size: 3.25rem;
  font-family: 'RobotoBold';
  font-weight: 700;
  margin-bottom: 50px;
}

.image__left__icon1 {
  background: center / contain no-repeat url('../img/step01.svg');
  height: 2.5rem;
  width: 2.5rem;
}

.image__left__text h2 {
  font-family: 'RobotoBold';
  font-weight: 700;
  font-size: 19px;
  margin-bottom: 20px;
}

.image__left__text p {
  line-height: 28px;
}

.image__left2 {
  background: left / contain no-repeat url('../img/step03.png');
  height: 410px;
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}

.image__left__icon2 {
  background: center / contain no-repeat url('../img/step03.svg');
  height: 2.5rem;
  width: 2.5rem;
  margin-bottom: 20px;
}

.image__right1 {
  background: right / contain no-repeat url('../img/step02.png');
  height: 410px;
  margin-right: 100px;
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
  margin-left: 90px;
}

.image__right__text {
  width: 670px;
  margin-right: auto;
  margin-left: 90px;
}

.image__right__text h4 {
  color: #dddddd;
  font-size: 3.25rem;
  font-family: 'RobotoBold';
  font-weight: 700;
  margin-bottom: 50px;
}

.image__right__icon1 {
  background: center / contain no-repeat url('../img/step02.svg');
  height: 2.5rem;
  width: 2.5rem;
  margin-bottom: 20px;
}

.image__right__text h2 {
  font-family: 'RobotoBold';
  font-weight: 700;
  font-size: 19px;
  margin-bottom: 20px;
}

.image__right__text p {
  line-height: 28px;
}

.image__right2 {
  background: right / contain no-repeat url('../img/step04.png');
  height: 410px;
  margin-right: 100px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  margin-left: 90px;
}

.image__right__icon2 {
  background: center / contain no-repeat url('../img/step04.svg');
  height: 2.5rem;
  width: 2.5rem;
  margin-bottom: 20px;
}

.input__container {
  text-align: center;
}

.input__container h2 {
  font-size: 1.9rem;
  font-weight: 600;
  margin-bottom: 30px;
}

.input__container p {
  width: 30%;
  margin: 0 auto;
  margin-bottom: 50px;
  font-size: 0.875rem;
}

input {
  width: 37.5rem;
  height: 5.375rem;
  margin-bottom: 3.75rem;
  text-align: center;
  border: none;
  font-family: Arial;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 20px rgb(225, 225, 225);
}

.subscribe__btn a {
  text-decoration: none;
  color: white;
  padding: 20px 70px;
  border: solid #ff3571;
  background: #ff3571;
  font-size: 20px;
  border-radius: 10px;
}
.subscribe__btn {
  margin-bottom: 9.375rem;
}

footer p {
  margin-left: 9.375rem;
}
